{% extends 'base.html.twig' %}

{% block title %}Ingredient{% endblock %}

{% block body %}
    <h1>Ingredient</h1>
    <div class="card text-white bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="{{ asset('img/ingredient.png') }}" alt="Recepten">
        <div class="card-body">
            <h5 class="card-title">Ingredient: {{ ingredient.name }}</h5>
            <p class="card-text">
                <a href="{{ path('ingredient_edit', {'id': ingredient.id}) }}">edit</a><br>
                <a href="{{ path('ingredient_index') }}">back to list</a>
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
{% endblock %}
